@import "./base/reset";
@import "./base/typography";
@import "./utils/mixins";
@import "./utils/vars";
@import "./components/descriptions";
@import "./components/buttons";
@import "./components/links";
@import "./components/titles";
@import "./components/inputs";
@import "./components/cards";
@import "./layout/navigation";
@import "./layout/header";
@import "./layout/banner";
@import "./layout/projects";
@import "./layout/online_control";
@import "./layout/types";
@import "./layout/service";
@import "./layout/styling";
@import "./layout/design_project";
@import "./layout/steps";
@import "./layout/footer";


html {
  font-size: 10px;
}

body {
  font: 400 1.4rem $mainFont;
  color: $defaultColorLight;
}

.wrapper {
  max-width: $desktopWidth;
  margin: 0 auto;
  padding: 0 18px;
}

.logo {
  flex-shrink: 0;
  font: 700 1.2rem $mainFont;
  text-transform: uppercase;
  color: $primaryColor;

  @media screen and (min-width: $mobileWidth) {
    font-size: 1.4rem;
  }
}

.title {
  font-family: $titleFont;
  font-size: 2.2rem;
  text-transform: uppercase;
  text-align: center;
}