.btn {
  width: 100%;
  height: 51px;
  background: $primaryColor;
  font: 700 1.3rem $mainFont;
  color: $defaultColorLight;
  text-transform: uppercase;
  cursor: pointer;
  
  &:hover {
    background: darken($primaryColor, 30%);
  }

  &-transparent {
    background: none;
    border: 1px solid $defaultColorLight;
    &:hover {
      background: none;
      color: darken($defaultColorLight, 30%);
      border: 1px solid darken($defaultColorLight, 30%);
    }
  }

  @media screen and (min-width: $tabletWidth) {
    .header &, .banner &, 
    .online_control &, .footer & {
      border-radius: 2px;
    }
  }

  &-request {
    width: 161px;
    height: 37px;
  }

  &-submit {
    font-size: 1.5rem;
    @media screen and (min-width: $mobileWidth) {
      width: 200px;
    }
  }

  @media screen and (min-width: $tabletWidth) {
    .header &, .footer & {
      box-shadow: 0px 5px 15px rgba($primaryColor, 0.2);
    }

    .banner & {
      box-shadow: 0px 5px 15px rgba($primaryColor, 0.3);
      &-transparent {
        box-shadow: none;
      }
    }

    .online_control & {
      box-shadow: 0px 15px 15px rgba($primaryColor, 0.15);
    }

    .service & {
      box-shadow: 0px 5px 15px rgba($primaryColor, 0.15);
    }

    .question_form & {
      box-shadow: 0px 5px 20px rgba($primaryColor, 0.1);
    }
  }
}

.round_btn {
  width: 36px;
  height: 36px;
  background: $primaryColor;
  border-radius: 50%;
  font-size: 2rem;
  color: $defaultColorLight;
  cursor: pointer;

  &:hover {
    background: darken($primaryColor, 10%);
  }

  @media screen and (min-width: $smTabletWidth) {
    width: 54px;
    height: 54px;
    font-size: 3rem;
    box-shadow: 0px 0px 15px $primaryColor-transparent-50;
  }
}

.scrl_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 247px;
  height: 97px;
  background: $bgColor;
  font: 1.4rem $titleFont;
  text-transform: uppercase; 
  color: $defaultColorLight;

  &--inner_text {
    margin-right: 12px;
  }

  &:hover {
    color: $primaryColor;
    cursor: pointer;
  }
}