.card {
  max-width: 392px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  &--photo {
    
  }

  &--specs_container {
    max-width: 330px;
    width: 100%;
    padding: 25px 10px 43px 31px;
    margin-top: -127px;
    background: $defaultColorLight;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
  }

  &--specs_list {
    margin-top: 13px;
    margin-left: 15px;
  }

  &--item {
    list-style-type: disc;

    &:nth-child(7)::after {
      content: "...";
    }

    &:last-child::after {
      content: none;
    }

    &:nth-child(n+8) {
      display: none; 
    }
  }

  &--main_info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 40px;
    margin-top: -20px;
    font-family: $titleFont;
    font-size: 1.5rem;
    text-transform: uppercase;
    background: $primaryColor;
    box-shadow: 5px 5px 10px $primaryColor-transparent-30;
  }



  @media screen and (min-width: $mobileWidth) {
    align-items: center;

    &--specs_container {
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    }

    &--main_info {
      align-self: flex-start;
      width: 228px;
      height: 54px;
      margin-top: -27px;
      font-size: 1.8rem;
      margin-left: 31px;
    }
  }

  @media screen and (min-width: $smDesktopWidth) {
    &--item {
      list-style-type: disc;
  
      &:nth-child(7)::after {
        content: none;
      }
  
      &:nth-child(n+8) {
        display: list-item; 
      }
    }
  }
}

.cards_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  &--card {
    margin-bottom: 59px;
  }
  @media screen and (min-width: $smTabletWidth) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }

  @media screen and (min-width: $desktopWidth) {
    justify-content: space-between;
    &--card:not(:last-child) {
      margin-bottom: 0;
    }
  }
}