.description {
  .banner & {
    font-size: 1.8rem;
    line-height: 1.35;
    @media screen and (min-width: $smTabletWidth) {
      font-size: 2.2rem;
    }
  }

  .projects & {
    line-height: 1.58;
    text-align: center;
    @media screen and (min-width: $mobileWidth) {
      text-align: left;
    }
    @media screen and (min-width: $smTabletWidth) { 
      font-size: 1.8rem;
    }
  }

  .online_control & {
    line-height: 1.69;
    text-align: center;
    @media screen and (min-width: $smTabletWidth) {
      font-size: 2rem;
    }
    @media screen and (min-width: $smDesktopWidth) {
      color: $defaultColorDark-lighter;
    }
  }

  .design_project &, .team &, .clients & {
    font-size: 1.5rem;
    line-height: 1.35;
    text-align: center;
    @media screen and (min-width: $smTabletWidth) {
      font-size: 2rem;
    }
  }

  .design_project & {
    @media screen and (min-width: $smTabletWidth) {
      color: $defaultColorDark-lighter;
    }
  }
}

.block_description {
  font-size: 1.3rem;
  line-height: 1.35;

  .projects & {
    @media screen and (min-width: $smTabletWidth) {
      font-size: 1.5rem;
    }
  }

  .types &, .design_project & {
    font-size: 1.5rem;
    line-height: 1.66;
    color: $optionColor;
  }

  .steps & {
    font-size: 1.5rem;
    line-height: 1.66;
  }

  .team & {
    font-size: 1.8rem;
    line-height: 1.44;
    color: $optionColor;
  }

}