.text_input {
  display: flex;
  flex-direction: column;
  height: 51px;

  &--label {
    font-size: 1.5rem;
    line-height: 1;
    color: $defaultColorLight-transparent-50;
  }

  &--field {
    background: none;
    font-size: 1.8rem;
    color: $defaultColorLight;
    padding: 4px 0 8px;
    border-bottom: 1px solid $defaultColorLight-transparent-75;

    &::placeholder {
      color: $defaultColorLight;
    }

    &:focus {
      color: $primaryColor;
      border-color: $primaryColor;
    }
  }

  .online_control & {
    @media screen and (min-width: $smDesktopWidth) {
      &--label {
        color: $defaultColorDark-lighter-transparent-50;
      }

      &--field {
        border-color: $defaultColorDark-lighter-transparent-30;
        color: $defaultColorDark-lighter;
        
        &::placeholder {
          color: $defaultColorDark-lighter;
        }

        &:focus {
          border-color: $primaryColor;
        }
      }
    }
  }

  @media screen and (min-width: $smDesktopWidth) {
    &--field {
      border-color: $defaultColorLight-transparent-15;
    }
  }
}

.checkbox_input {
  display: flex;
  position: relative;
  flex-shrink: 0;

  &--check {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  &--label {
    display: inline-flex;
    align-items: center;
    font-size: 1.6rem;
    line-height: 1.37;
    color: $defaultColorLight;
    cursor: pointer;

    .inner_box {
      width: 18px;
      height: 18px;
      background-color: $defaultColorLight-transparent-50;
      background-image: url("/assets/images/check.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 0 0;
      background-blend-mode: overlay;
      border-radius: 2px;
      margin-right: 9px;
    }
  }

  &--check:checked + &--label .inner_box {
    background-color: $primaryColor;
    background-size: 10px;
    transition: all 1s;
  }

  @media screen and (min-width: $smDesktopWidth) {
    &--label {
      color: $defaultColorDark;
      .inner_box {
        background-color: $defaultColorDark-lighter-transparent-30;
      }
    }
  }
}