.phone_link {
  flex-shrink: 0;
  font: 700 1.2rem $mainFont;
  color: $defaultColorLight;
  
  &:hover, &:focus {
    color: darken($defaultColorLight, 30%);
  }

  @media screen and (min-width: $mobileWidth) {
    font-size: 1.4rem;
    color: $primaryColor;
    text-decoration: underline;
    &:hover, &:focus {
      color: darken($primaryColor, 30%);
    }
  }
}


.instagram_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 140px;
  font: 700 1.4rem $mainFont;
  text-transform: uppercase;
  color: $primaryColor;
}