$bgColor: #131313;
$primaryColor: #E3B873;

$mainFont: "FuturaC", sans-serif;
$titleFont: "Yeseva One", serif;

$desktopWidth: 1440px;
$tabletWidth: 1024px;
$smTabletWidth: 720px;
$mobileWidth: 480px;
