.banner {
  background: $bgColor;

  .wrapper {
    display: flex;
    min-height: 476px;
    padding: 0;
  }

  &--content {
    flex-grow: 1;
    background-image: url("/assets/images/banner__bg-mobile.png");
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.7);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: 50% 50%;
    padding: 0 18px;
  }

  .title {
    max-width: 310px;
    margin-top: 85px;
  }

  .description {
    max-width: 310px;
    margin-top: 16px;
  }

  &--btns_container {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    .btn-transparent {
      margin: 26px 0 0;
    }
  }

  &--sidebar {
    order: -1;
    display: none;
    width: 82px;
    height: 707px;
    align-items: center;
    justify-content: center;
    .instagram_link {
      transform: rotate(90deg)
    }
  }

  @media screen and (min-width: $mobileWidth) {
    &--content {
      background-image: url("/assets/images/banner__bg.png");
    }

    .description {
      max-width: 350px;
    }

    &--btns_container {
      flex-direction: row;
      margin-top: 61px;
      .btn {
        width: 207px;
        &-transparent {
          margin: 0 0 0 20px;
        }
      }
    }
  }

  @media screen and (min-width: $smTabletWidth) {
    &--content {
      padding: 0 60px;
    }
    
    .title {
      max-width: 530px;
    }

    .description {
      max-width: 420px;
    }
  }

  @media screen and (min-width: $tabletWidth) {
    .wrapper {
      min-height: 707px;
    }

    .title {
      margin-top: 194px;
    }

    .description {
      margin-top: 19px;
    }

    &--sidebar {
      display: flex;
    }
  }
}