.projects {
  background: $bgColor;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 34px 18px 0;
  }

  .title {
    display: flex;
    &--inner_text {
      max-width: 130px;
    }
    &--inner_svg {
      display: none;
    }
  }

  .description { 
    max-width: 311px;
    margin-top: 26px;
  }


  &--gallery {
    margin-top: 38px;
  }

  &--slider {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    overflow: hidden;
    width: 100%;

    .item {
      flex-shrink: 0;
      margin-right: 20px;
      box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
    }
  }

  .nav_bar {
    display: none;
  }

  &--specs_container {
    align-self: flex-start;
    display: grid;
    grid-template: 1fr 1fr / 140px 140px ;
    gap: 20px 10px;
    margin-top: 39px;

    .block_description {
      max-width: 130px;
      margin-top: 10px;
    }
  }

  .arrow_nav {
    display: none;
  }

  @media screen and (min-width: $mobileWidth) {
    .wrapper {
      align-items: flex-start;
    }

    .title {
      align-items: center;
      &--inner_svg {
        display: block;
        position: relative;
        top: 10px;
      }
    }

    .description {
      max-width: 400px;
    }

    &--gallery {
      align-self: center;
      max-width: 679px;
    }

  }

  @media screen and (min-width: $smTabletWidth) { 
    .wrapper { 
      padding: 34px 0 0 60px;
    }

    .title {
      &--inner_text {
        max-width: 155px;
      }
    }

    .description {
      max-width: 420px;
    }

    &--specs_container {
      grid-template: 1fr 1fr / 180px 180px;
    }

    .nav_bar {
      display: block;
      margin-bottom: 45px;
    }

    &--gallery {
      align-self: flex-end;
      max-width: 960px;
      .item {
        box-shadow: 0px 50px 30px rgba(0, 0, 0, 0.15);
      }
    }

    .round_btn-left {
      visibility: hidden;
    }
  }

  @media screen and (min-width: $tabletWidth) { 
    .wrapper {
      padding: 82px 0 0 100px;
    }

    &--gallery {
      align-self: center;
      max-width: 1060px;
    }
  }

  @media screen and (min-width: $smDesktopWidth) {
    height: 1075px;

    .wrapper {
      display: grid;
      grid-template: auto auto auto auto / 1fr auto;
      gap: 0 20px;
      padding: 107px 0 0 100px;
    }

    .title {
      margin-top: 80px;
    }

    &--gallery {
      grid-row: 1 / 5;
      grid-column: 2;
      max-width: 864px;
      margin-top: 0;
    }

    .arrow_nav {
      display: flex;
      justify-self: start;
      align-self: end;
    }
  }
}